@page

@model TournamentTracker.Pages.CreateTournamentModel

@{
    ViewData["Title"] = "Create tournament";
}

<form id="Tournaments" method="post">
    <div class="form-row align-items-center justify-content-center mt-5">
        <div class="col-auto mt-2">
            <input type="text" class="form-control" name="Name" placeholder="Tournament name" />
        </div>
        <div class="col-auto mt-2">
            <input type="text" class="form-control" name="EntryFee" placeholder="Entry fee" />
        </div>
        <div class="col-auto mt-2">
            <input type="date" class="form-control" name="StartDate" />
        </div>
        <div class="col-auto ml-2 mt-2">
            <button type="submit" class="btn btn-primary" onclick="createAsync()">Create</button>
        </div>
    </div>
</form>